<ion-header>
  <ion-toolbar>
    <ion-title>bitacoras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-header>
      <ion-title><ion-label> Nombre </ion-label>  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <ion-label>Matricula</ion-label>  &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <ion-label>Fecha </ion-label> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  <ion-label>Carrera</ion-label> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  
        <ion-label>Motivo de asistencia</ion-label> </ion-title>  
      
    </ion-header>
  <ion-list>
      <ion-item (click)="presentActionSheet()">
            <ion-label>
                
                <ion-textarea rows="1" cols="10" value=Armin  ></ion-textarea> 
                
        </ion-label>
      </ion-item>
    <ion-item>
      <ion-label>Abel Rodriguez</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Mata</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Alexis</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Eduardo Meza</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
