
////////////////////////////////////////////HEADER//////////////////////////////////////////////////////
@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');

.title-name {
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: Titillium Web;
    font-weight: normal;
    color:#114C90;
}

.title-name-large {
    font-size: 8em;
}
////////////////////////////////////////////HEADER//////////////////////////////////////////////////////


#division{
    max-width: 20%;
    margin-left: auto;
    margin-right: auto;
}

#uacjlogo{
    max-width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
