<!--//////////////////////////////////////////////////////////////////////////////////////////////////-->
<ion-header class="main-header">
  <nav class="nav main-nav btn">
      <ul>
              <li><a href="/login">USUARIO</a></li>
              <li><a href="/cita">CITAS</a></li>
              <li><a href="/bitacora">BITACORA</a></li>
      </ul>
  </nav>
  <h1 class="title-name title-name-large">Reporte</h1>
</ion-header>
<!--//////////////////////////////////////////////////////////////////////////////////////////////////-->

<ion-content>

</ion-content>

<!--////////////////////////////////////////////FOOTER//////////////////////////////////////////////////////-->
<ion-footer class="main-footer">
  <div class="container main-footer-container">
  <h3 class="title-name">CEA</h3>
  </div>
</ion-footer>
<!--////////////////////////////////////////////FOOTER//////////////////////////////////////////////////////-->
