<!--//////////////////////////////////////////////////////////////////////////////////////////////////-->
<ion-header class="main-header">
  <nav class="nav main-nav">
      <ul>
              <li>USUARIO</li>
              <li><a href="/bitacoras">BITACORA</a></li>
              <li><a href="/reporte">REPORTE</a></li>
      </ul>
  </nav>
  <!--hr-->
  <h1 class="title-name title-name-large">Citas</h1>
</ion-header>
<!--//////////////////////////////////////////////////////////////////////////////////////////////////-->

<ion-content>
<!---->
<section class="content-section container">
  <h2 class="section-header">Lista de Citas</h2>
  
</section>
<!---->
</ion-content>

<!--////////////////////////////////////////////FOOTER//////////////////////////////////////////////////////-->
<footer class="main-footer">
  <div class="container main-footer-container">
  <h3 class="title-name">CEA</h3>
  </div>
</footer>
<!--////////////////////////////////////////////FOOTER//////////////////////////////////////////////////////-->